.inputSection {
  width: 100%;
  max-width: 1440px;
  margin: 50px auto;
}

.form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.label {
  color: white;
}
.input {
  width: 45%;
  padding: 8px;
  border-radius: 15px;
  border: none;
}

.button {
  border-radius: 20px;
  border: none;
}

@media (max-width: 850px) {
  .inputSection {
    margin: 20px auto;
  }
  .form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    min-width: 250px;
    max-width: 250px;
    margin-bottom: 10px;
  }
}
